h5{
  padding: 0;
}

.botones{
  margin-top: 10px;
}

.containerInside {
  width: 75%;
  margin-bottom: 10em;
  align-items: unset;
  min-height: 10vh;
  width: 50em;
}


.btn-success {
  background: linear-gradient(
    90deg,
    rgba(2, 105, 55, 1) 0%,
    rgba(2, 105, 55, 1) 0%,
    rgba(53, 143, 57, 1) 100%
  );
}


@media (max-width: 920px) {
  .containerInside {
      width: 95%;
  }
}
