<div class="container mt-5">
  <div class="text-center mt-5">
    <h1 class="text-secondary fs-1">Bienvenido a SPAF</h1>
    <h1 class="text-secondary fs-4">
      Sistema de Prestamos del Almacen de Fisica
    </h1>
  </div>

  <div class="mt-4">
    <span class="text-secondary fs-3">Reservas</span>
  </div>
  <hr style="margin: 0" />

  <div class="d-flex justify-content-around mt-4">
    <div class="card shadow" style="width: 18rem">
      <div class="card-body">
        <i class="fa fa-globe" aria-hidden="true"></i>
        <a class="card-link" [routerLink]="['reserva-aula']">RESERVA AULA</a>
      </div>
    </div>

    <div class="card shadow" style="width: 18rem">
      <div class="card-body">
        <i class="fa fa-rocket" aria-hidden="true"></i>
        <a class="card-link" [routerLink]="['reserva-activo']">RESERVA ACTIVO</a>
      </div>
    </div>


    <div class="card shadow" style="width: 18rem">
      <div class="card-body">
        <i class="fa fa-book" aria-hidden="true"></i>
        <a class="card-link" [routerLink]="['ver-reservas']">VER RESERVAS</a>
      </div>
    </div>
  </div>
</div>
