<nav class="navbar fixed-top navbar-dark bg-dark fixed-top mb-5">
  <div class="container-fluid d-flex justify-content-between">
    <img
      src="/assets/Logo+Facultad+de+Ciencias+Exactas+y+Naturales-blanco.png"
      [routerLink]="['/home']"
      width="180px"
      alt=""
    />

    <div class="profile .d-none .d-lg-block .d-xl-none navbar-brand d-flex">
      <ul>
        <li ngbDropdown>
          <a
            id="id01"
            ngbDropdownToggle
            style="color: #fff; margin-right: 0.5em"
          >
          </a>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="id01"
            ngbDropdownMenu
          >
            <a class="dropdown-item" [routerLink]="['home/ver-usuario']">
              Ver perfil
            </a>
            <li><hr class="dropdown-divider" /></li>
            <a class="dropdown-item" (click)="logOut()">Cerrar Sesi&oacute;n</a>
          </div>
        </li>
      </ul>
      <span> Bienvenido {{ nombre }} </span>
    </div>
  </div>
</nav>
