<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="containerInside card shadow p-3 pr-5" style="width: 35%">
    <div class="card-body">
      <p class="text-secondary">Recupera tu contraseña</p>
      <hr />
      <form>
        <div class="form-group">
          <label>Correo Institucional</label>
          <input
            type="text"
            formControlName="correo"
            class="form-control"
            placeholder="ejemplo@udea.edu.co"
          />
        </div>

        <div class="footer-row d-md-flex justify-content-md-end mb-3">
          <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-2">
            <a class="btn-canc" [routerLink]="['../login']"> Cancelar </a>
          </div>

          <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-2">
            <button
              id="btn-sub"
              (submit)="(true)"
              class="btn btn-submit"
            >
              Enviar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
