.containerInside {
  // margin-bottom: 10em;
  width: 100%;
  max-width: 700px;
  align-items: unset;
  min-height: 10vh;
}


@media (max-width: 576px) {
  .containerInside {
      width: 95%;
  }
}

.btn-success {
  background: linear-gradient(
    90deg,
    rgba(2, 105, 55, 1) 0%,
    rgba(2, 105, 55, 1) 0%,
    rgba(53, 143, 57, 1) 100%
  );
}


.ptitle{
  color: #ffffff;
  background-color: #026937;
  padding: 0.5em;
  border-radius: 0.2em;
  text-align: center;
}
