<div class="containerInside container card shadow mt-5 bg-white rounded p-4 ">
  <div class="row header-row">
    <div class="col">
      <!-- <p class="ptitle">Modificar mi contraseña</p> -->
      <span class="text-secondary">MODIFICAR CONTRASEÑA</span>

    </div>
  </div>
  <hr />

  <form>

    <div class="row regular-row">
      <div class="col-12">
        <input type="password" placeholder="Contraseña Actual" formControlName="contrasena_actual" class="form-control"
         />

      </div>
    </div>

    <div class="row regular-row mt-3">
      <div class="col-12">
        <input type="password" class="form-control" placeholder="Nueva Contraseña"
          formControlName="contrasena_expected_2"/>
      </div>
    </div>


    <div class="row regular-row mt-3">
      <div class="col-12">
        <input type="password" class="form-control" placeholder="Confirmar Contraseña"
          formControlName="contrasena_expected_2"/>
      </div>
    </div>
    <hr />

    <div class="footer-row d-md-flex justify-content-md-end mb-3">
      <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-2">
        <button type="button" class="btn btn-secondary" [routerLink]="['../ver-usuario']" >
          Cancelar
        </button>
      </div>
      <div class="d-grid gap-2 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-2">
        <button class="btn btn-success btn-block" (submit)="true"
          >
          Enviar
        </button>
      </div>
    </div>
  </form>
</div>