.containerInside { 
  width: 75%;
  margin-bottom: 10em;
  align-items: unset;
  min-height: 50vh;
  width: 50em;
}

.btn-warning { 
  background-color: #f9a12c;
}

.btn-light {
  color: #000;
  background-color: #f9a12c;
}


@media screen and (max-width: 576px){
  .containerInside {
    width: 95%!important;
   
   }
  }

.link-success{
  text-decoration: underline;
  cursor: pointer;
}